{%- assign id = context.params.slug3 -%}
{% graphql questions_list = 'questions/read', id: id | fetch: 'models' | fetch: 'results' %}


{% if questions_list.size > 0 %}
        <form
          action="/questionnaire/update"
          method="POST"
          class="questions">
        <h2>COVID Screening Questionnaire</h2>
            {% for questions in questions_list %}
                <div class="question-form">
                    <p class="question">{{ questions.question }}</p>
                    <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" id="yes-{{questions.id}}" name="answer-{{questions.id}}" value="Yes">
                            <label for="yes-{{questions.id}}" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Yes
                            </label>
                        </div>

                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" id="no-{{questions.id}}" name="answer-{{questions.id}}" value="No">
                            <label for="no-{{questions.id}}" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button class="btn-inline btn-center">submit <span>&rarr;</span></button>
        </form>
{% endif %}